<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th scope="col">model</th>
            <th scope="col">yearOfIssue</th>
            <th scope="col">enginePower</th>
        </tr>
        <tr th:each="car:${cars}">
            <td th:text="${car.getModel()}"/>
            <td th:text="${car.getYearOfIssue()}"/>
            <td th:text="${car.getEnginePower()}"/>
        </tr>
    </table>
</div>
</body>
</html>